* {
    color: brown;
}

h1 {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

h1 ~ p {
    text-decoration: underline;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    border: 1px solid black;
}

ul > li {
    list-style-type: none;
    color: black;
}

div + p {
    color: coral
}