h1 + p {
    font-style: italic;
}

h1 + p + p
h1 + p + p + p {
    color: grey;
}

h3 + p,
h3 + p + p,
h3 + p + p + p {
    text-decoration: underline;
}

h4 + p + p,
h4 + p + p + p {
    color: blue;
}
