input:enabled {
    background-color:lightblue;
    border-radius: 4px;
    box-shadow: 
    -2px -2px black;
}

button:enabled {
    background-color:lightblue;
    border-radius: 4px;
    box-shadow: 
    -2px -2px black;
}

button:enabled {
    background-color: lightblue;
}

input:required {
    border: 2px solid red;
    color: blue;
    box-shadow: none;
}

input:focus {
    outline: none;
}
