@use "./Partials/mixins.scss";

.textBox {
    @include mixins.borders(550px, 20px 20px);

    &--red-dot {
        border: 2px dotted red;
        }
    
    &--blue-solid {
        border: 2px solid blue;
        }

    &--dashed-blue {
        border: 2px dashed blue;
        }
}

p {
    @include mixins.fonts(Arial, bold, center);
    margin: 0px;
}
